.clockk {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
.clockk h1 {
  border-radius: 12px;
  width: 350px;
  margin: 10vh auto 0px auto;
  padding: 20px 50;
  background-color: rgb(237, 211, 230);
}
h1 {
  font-family: "Courier New", Courier, monospace;
  color: rgb(32, 20, 4);
}
